@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *)); 

.sso-bg {
  background-image: url("/sso-bg.jfif");
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-clip: border-box;
  background-size: cover;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-blend-mode: multiply;
}

.p-password-input {
  width: 100%;
}

html,
body {
  height: 100%;
  overflow: auto;
  /* still scrollable */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.p-dialog .p-dialog-content {
  overflow-y: auto;
  /* keep scrolling */
  scrollbar-width: none;
  /* Firefox */
}

.p-dialog .p-dialog-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.swal2-topmost {
  z-index: 9999 !important;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scroll-hidden::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scroll-hidden {
overflow: auto; /* Enables scrolling */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE and Edge */
}